:root {
  --project-border-color: hsla(187, 61%, 74%, 1);
  --project-background-color: hsla(240, 20%, 5%, 0.85);
  --project-accent-color: hsla(187, 37%, 62%, 1);

  --project-card-border-color: rgba(146, 220, 229, 0.1); 
}

.projectContainer {
  background-color: var(--project-background-color);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: 890px;
  
  border: 2px solid var(--project-border-color);
  outline: none;
  backdrop-filter: blur(8px);

  padding: 0 16px 16px 16px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  scroll-behavior: smooth;
  scrollbar-width: 12px;
  scrollbar-color: var(--project-background-color) var(--project-border-color);
}

.projectTitle {
  color: var(--project-border-color);
  font-family: 'Fira Code', monospace;
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  user-select: none;
  text-transform: uppercase;
}

.projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
    padding: 10px;
}

.projectHeader {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #020608;
  
  margin: 0 -16px 20px -16px;
  padding: 20px 16px 12px 16px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--project-border-color);
  user-select: none;
}

.systemStatus {
    font-family: 'Fira Code', monospace;
    font-size: 1em;
    color: var(--project-border-color);
    animation: blink 1.5s infinite;
    text-transform: uppercase;
    opacity: 0.8;
}

@keyframes blink {
    50% { opacity: 10%; }
    100% { opacity: 100%; }
}

@media (max-width: 700px) {
  .projectGrid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 800px) {
  .projectContainer {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }

  .projectContainer::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  .projectGrid {
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  }
}

@media (max-width: 550px) {
  .projectHeader {
    flex-direction: column;
    gap: 10px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .systemStatus {
    animation: none;
    opacity: 0.8;
  }
}