:root {
  --intro-background-color: hsla(240, 33%, 4%, 0.85);
  --intro-border-color:hsla(187, 61%, 74%, 1);
  --intro-text-primary:	hsla(188, 70%, 89%, 1);
}

.introductionContainer {
  height: 100%;
  width: 100%;
  background-color: var(--intro-background-color);
  border: 2px solid var(--intro-border-color);
  outline: none; 
  backdrop-filter: blur(10px);
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
  gap: 30px;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .introductionContainer {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }
}